/* BRAND - CSS */

.cover1 {
    /* background: url('background.jpg'); */
    background: #19191b;
    width: 100%;
    padding-top: 20px;
}

.brand {
    display: flex;
    width: 100%;
    color: #fff;
    padding-bottom: 15px    ;
    /* border-bottom: 1px solid #ccc; */
}

.brand div {
    width: 33.33%;
}

.brand-name-cover {
    justify-content: center;
    align-items: center;
}

.brand-name-cover h1 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 7px;
    font-weight: 700;
}

.search-button {
    
}

.search-button div {
    width: 100%;
    text-align: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.social-media-contact {
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
}

.menu {
    display: none;
}

/* navigation */

.navigation {
    display: flex;
}

.navigation > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap:30px;
    width: 100%;
    margin-top: 20px;
}

.navigation > ul > li a{
    text-align: center;
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
}

.navigation > ul > li .icon {
    font-size:  14px;
    transform: translateY(0px);
    margin-left: 5px;
}


/* intro */

.intro {
    display: flex;
    flex-direction: row;
    animation: floatUp 2s 1;
    padding: 50px 0;
}

.intro:hover {

}

#pic1 {
    width: 65%;
    max-height: 570px;
    overflow: hidden;
    position: relative;
}

#pic1 img {
    width: 100%;
    height: 100%;
    display:block;
    
}

.des-pic {
    position: absolute;
    bottom: 4rem;
    color: #00C8AF;
    padding: 0 20% 0 6rem;
}

.des-pic h1 {
    background-color: rgb(0 0 0 / 75%);
    padding: 8px 16px;
    font-size: 24px;
    display: inline-block;
}

.des-pic p{
    color: #fff;
    font-weight: 600;
}

#pic2, #pic3 {
    position: relative;
    max-height: 285px;
    overflow: hidden;
}

#pic23 {
    width: 35%;
    display: flex;
    flex-direction: column;
    max-height: 570px;
    overflow: hidden;
}

.pic-in img{
    width: 100%;
    display: block;
}

/* articles */

.cover2 {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    justify-content: center;
    width: 100%;
}

.cover3 {
    background-color: #f2f2f2;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    padding: 24px 30px 48px;
    /* animation: floatUp 1s 1; */
}

.quote-pic {
    display: flex;
    justify-content: center;
}

.quote img {

}

.quote p {
    text-align: center;
    padding-top: 60px;
}

.quote-content {
    text-align: center;
}

.pic {
    overflow: hidden;
    position: relative;
    display: block;
    /* height: fit-content; */
}

.pic > img {
    width: 100%;
    display: block;
}

/* page number */

.page-number {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 70px;
}

.page-number div {
    text-align: center;
    min-height: 50px;
}

.next-pre {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 15%); 
}

.number {
    width: 40px;
    height: 50px;
    border-radius: 3px;
    /* color: #000; */
    font-weight: 700;
    color: #000;
}

.choosen {
    background-color: #000;
    color: #fff;
}

.next-pre > ion-icon {
    color: #000;
    transform: translateY(5px);
}

.quote-pic {
    
}
/* cover4 */

.cover4 {
    padding: 30px 60px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.about {
    width: 40%;
    padding: 30px;
    color: #000;
    font-weight: 500;
}

.about h1 {
    margin: 16px 0;
    font-size: 64px;
}

.contact {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: left;
    color: #000;
}

.contact h1 {
    font-size: 64px;
    margin: 16px 0;
}

.contact-card {
    display: flex;
    gap: 25px;
    justify-content: left;
    align-items: center;
    padding: 26px 0;
}

.contact-card ion-icon {
    font-size: 40px;
    /* transform: translateY(3px);   */
}


